<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>625220739392-0t0obl7eb640ru5qjgasbkqf1m42p53p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625220739392-0t0obl7eb640ru5qjgasbkqf1m42p53p</string>
	<key>API_KEY</key>
	<string>AIzaSyDBPvGAVcucGNgo_mSkEppxU8XZWlqqkT4</string>
	<key>GCM_SENDER_ID</key>
	<string>625220739392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rgchat.rg</string>
	<key>PROJECT_ID</key>
	<string>rgchat-f908f</string>
	<key>STORAGE_BUCKET</key>
	<string>rgchat-f908f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:625220739392:ios:c646c046d187b4f4</string>
	<key>DATABASE_URL</key>
	<string>https://rgchat-f908f.firebaseio.com/</string>
</dict>
</plist>
